<!DOCTYPE html>
<html lang="en">

<head>
    <!--meta-->
    <meta name="description" content="Cele mai fresh haine de vara sau de iarna. Hanorace, bluze, tricouri.">
    <meta name="keywords" content="haine, NULL, oferta, imbracaminte">

    <%- include("../fragmente/head.ejs") %>

        <!--3-->

</head>

<body>

    <!--7-->
    <%- include("../fragmente/header.ejs") %>


        <main>
            <div class="maindivreg">
                <div class="content">

                    <h2>Ai gresit adresa!</h2>

                    </section>

                </div>
            </div>


        </main>

        <%- include("../fragmente/footer.ejs") %>


</body>

</html>