<!DOCTYPE html>
<html lang="en">

<head>
    <!--meta-->
    <meta name="description" content="Cele mai fresh haine de vara sau de iarna. Hanorace, bluze, tricouri.">
    <meta name="keywords" content="haine, NULL, oferta, imbracaminte">

    <%- include("../fragmente/head.ejs") %>

        <!--3-->

</head>

<body>

    <!--7-->
    <%- include("../fragmente/header.ejs") %>


        <main>
            <a id="top-button" href="#">
                <div>&#5123;<span class="tooltip">Go to top</span></div>
            </a>
            <div class="mainshopdiv">
                <section class="column1">
                    <img src="/Resources/Images/clothes1.jpg" alt="clothes">

                </section>

                <section class="column2">

                    <img src="/Resources/Images/male-model.jpg" alt="male-model">
                </section>
                <section class="column3">

                    <H2>Bine ati venit la sectiunea de barbati!</H2>

                    <div class=tablediv>
                        <table class="tableindex">
                            <caption> Cele mai vandute produse</caption>
                            <thead>
                                <tr>
                                    <th>Produs</th>
                                    <th>Cantitate Vanduta</th>
                                    <th>Culoarea cea mai vanduta</th>
                                    <th>Cantitate disponibila</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Hanorac logo "NULL"</td>
                                    <td>504151</td>
                                    <td>Negru</td>
                                    <td>1200</td>
                                </tr>
                                <tr>
                                    <td>Sapca logo "NULL"</td>
                                    <td>32231</td>
                                    <td>Mov</td>
                                    <td>100</td>

                                </tr>
                                <tr>
                                    <td>Tricou Animal Print</td>
                                    <td>22115</td>
                                    <td>Leopard</td>
                                    <td>123</td>
                                </tr>
                                <tr>
                                    <td>Hanorac Zen</td>
                                    <td>101251</td>
                                    <td>Negru</td>
                                    <td>3000</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">Multumim pentru suportul continuu!</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
            </div>
            <br>



        </main>

        <%- include("../fragmente/footer.ejs") %>


</body>

</html>