<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Eroare</title>
    <%- include("../fragmente/head") %>
</head>

<body class="container">
    <header>
        <%- include("../fragmente/header") %>
    </header>
    <main>
        <div class="maindivreg">
            <div class="content">

                <h1>Confirmare mail</h1>
                <p>Totul a functionat bine!</p>
            </div>
        </div>
    </main>

    <%- include("../fragmente/footer") %>

</body>

</html>