<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description" content="NULL - cos virtual.">
    <meta name="keywords" content="NULL, Shop, haine, hanorac, tricou, sapca, produse, cos virtual">
    <link rel="stylesheet" href="/Resources/Css/cos-virtual.css" type="text/css" />
    <title>NULL - cos virtual</title>
    <%- include("../fragmente/head") %>

        <script type="text/javascript" src="/Resources/js/cos_virtual.js"></script>

</head>

<body>

    <%- include("../fragmente/header") %>
        <div class="maindivreg">
            <div class="content">

                <main>


                    <button id="cumpara">
            Cumpara
        </button>

                </main>
            </div>
        </div>
        <%- include("../fragmente/footer") %>
</body>

</html>