<!DOCTYPE html>
<html lang="en">

<head>
    <!--meta-->
    <meta name="description" content="Cele mai fresh haine de vara sau de iarna. Hanorace, bluze, tricouri.">
    <meta name="keywords" content="haine, NULL, oferta, imbracaminte">

    <%- include("../fragmente/head.ejs") %>

        <!--3-->

</head>

<body>


    <!--7-->
    <%- include("../fragmente/header.ejs") %>


        <main>
            <a id="top-button" href="#">
                <div>&#5123;<span class="tooltip">Go to top</span></div>
            </a>
            <br><br><br><br><br>
            <%- include("../fragmente/galerie.ejs") %>



        </main>

        <%- include("../fragmente/footer.ejs") %>


</body>

</html>