<footer>
    <!--13-->
    <div class="footer">
        <div class="footer1">
            <p id="watermark">Copyright &copy; Ivan<br> Stefan </p>

            <a href="#">Inceputul paginii</a>


            <address>
        <p>Pentru mai multe detalii contactati:</p>
        <a href="mailto:NULL@gmail.com">Ivan Stefan</a>. </address>
            <address>  <a href="tel:0721297065">0721297065</a> </address>
            <address>Stefan cel mare nr 123</address>
        </div>
        <div class="footer2">
            <p><small>Copyright © 2021 Ivan Stefan-Alexandru </small> </p>
            <p>Published at: <time datetime="2021-10-18 05:50">2021-10-18 05:50</time></p>
        </div>


    </div>
</footer>