.mainfemei {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
      grid-template-areas: "column1 column1 column1";
}

.column1 {
  -webkit-box-shadow: 0 4px 8px 0 rgba(173, 113, 165, 0.7);
          box-shadow: 0 4px 8px 0 rgba(173, 113, 165, 0.7);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: column1;
  opacity: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.column1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.content {
  padding: 40px;
  margin: auto;
  width: 98%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(173, 113, 165, 0.7);
          box-shadow: 0 4px 8px 0 rgba(173, 113, 165, 0.7);
}

h2 {
  padding: 20px;
  text-align: center;
  font-size: 320%;
  margin-bottom: 20px;
}

.grid-produse {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.grid-produse img {
  width: 300px;
  height: 450px;
  margin: auto;
  border-radius: 20px;
}

.grid-produse .produs {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #E3C9C8;
  border-radius: 1rem;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 0.8rem 0.3rem #AD71A5;
          box-shadow: 0px 0px 0.8rem 0.3rem #AD71A5;
  overflow: hidden;
}

.grid-produse .produs:hover {
  -webkit-transform: translateY(-35px) scale(1.1);
          transform: translateY(-35px) scale(1.1);
}

.grid-produse .val-nume {
  text-decoration: none;
}

.grid-produse a {
  text-decoration: none;
  color: black;
}

.selecteaza-cos {
  display: inline-block;
  text-align: center;
  padding: 0.3rem;
}

.art-produs {
  display: block;
  margin: auto;
  text-align: center;
}

.art-produs img {
  width: 300px;
  height: 450px;
  margin: auto;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

label {
  margin-right: 1%;
}

.search {
  margin-right: 5%;
  margin-bottom: 50px;
  width: 10%;
}

.range {
  margin-right: 5%;
  margin-bottom: 50px;
}

.radiogroup {
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkedGroup {
  margin-right: 1%;
}

.checkLabel {
  margin-right: 0%;
}

.isImported {
  margin-right: 1%;
  margin-right: none;
}

.isNotImported {
  margin-right: 1%;
  margin-right: none;
}

.selectSimplu {
  width: 10%;
  height: 5%;
}

.descriere {
  display: block;
}

.imported {
  display: none;
}

.filterButton {
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 1%;
  background-color: #E3C9C8;
  color: black;
  border: 2px solid #AD71A5;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.filterButton:hover {
  background-color: #AD71A5;
  color: white;
}

.textarea {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 1%;
}

[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  width: 20%;
}

[type='range']::-moz-focus-outer {
  border: 0;
}

[type='range']:focus {
  outline: 0;
}

[type='range']:focus::-webkit-slider-runnable-track {
  background: #b681af;
}

[type='range']:focus::-ms-fill-lower {
  background: #AD71A5;
}

[type='range']:focus::-ms-fill-upper {
  background: #b681af;
}

[type='range']::-webkit-slider-runnable-track {
  cursor: default;
  height: 8px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 20%;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #AD71A5;
  border: 2px solid #cfd8dc;
  border-radius: 5px;
}

[type='range']::-webkit-slider-thumb {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #451311;
  border: 2px solid #E3C9C8;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  margin-top: -10px;
}

[type='range']::-moz-range-track {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  cursor: default;
  height: 8px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 20%;
  background: #AD71A5;
  border: 2px solid #cfd8dc;
  border-radius: 5px;
  height: 4px;
}

[type='range']::-moz-range-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #451311;
  border: 2px solid #E3C9C8;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
}

[type='range']::-ms-track {
  cursor: default;
  height: 8px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 20%;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}

[type='range']::-ms-fill-lower {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #a4619b;
  border: 2px solid #cfd8dc;
  border-radius: 10px;
}

[type='range']::-ms-fill-upper {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #AD71A5;
  border: 2px solid #cfd8dc;
  border-radius: 10px;
}

[type='range']::-ms-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #451311;
  border: 2px solid #E3C9C8;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 24px;
  width: 24px;
  margin-top: 2px;
}

[type='range']:disabled::-webkit-slider-thumb, [type='range']:disabled::-moz-range-thumb, [type='range']:disabled::-ms-thumb, [type='range']:disabled::-webkit-slider-runnable-track, [type='range']:disabled::-ms-fill-lower, [type='range']:disabled::-ms-fill-upper {
  cursor: not-allowed;
}
/*# sourceMappingURL=femei.css.map */