@import "./variables";
.mainfemei {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: "column1 column1 column1";
}

.column1 {
    box-shadow: 0 4px 8px 0 rgba($color1, 0.7);
    grid-area: column1;
    // background-color: $color1;
    opacity: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
    }
}

.content {
    padding: 40px;
    margin: auto;
    width: 98%;
    box-shadow: 0 4px 8px 0 rgba($color1, 0.7);
}

h2 {
    padding: 20px;
    text-align: center;
    font-size: 320%;
    margin-bottom: 20px;
}

.grid-produse {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    img {
        width: 300px;
        height: 450px;
        margin: auto;
        border-radius: 20px;
    }
    .produs {
        transition: 1s;
        background-color: $color3;
        &:hover {
            transform: translateY(-35px) scale(1.1);
        }
        border-radius: 1rem;
        padding: 10px;
        text-align: center;
        box-shadow: 0px 0px 0.8rem 0.3rem $color1;
        overflow: hidden;
    }
    .val-nume {
        text-decoration: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.selecteaza-cos {
    display: inline-block;
    text-align: center;
    padding: 0.3rem;
}

.art-produs {
    display: block;
    margin: auto;
    text-align: center;
    img {
        width: 300px;
        height: 450px;
        margin: auto;
    }
}

.inputs {
    display: flex;
    margin: auto;
}

label {
    margin-right: 1%;
}

.search {
    margin-right: 5%;
    margin-bottom: 50px;
    width: 10%;
}

.range {
    margin-right: 5%;
    margin-bottom: 50px;
}

.radiogroup {
    margin-right: 5%;
    display: flex;
}

.checkedGroup {
    margin-right: 1%;
}

.checkLabel {
    margin-right: 0%;
}

.isImported {
    margin-right: 1%;
    margin-right: none;
}

.isNotImported {
    margin-right: 1%;
    margin-right: none;
}

.selectSimplu {
    width: 10%;
    height: 5%;
}

.descriere {
    display: block;
}

.imported {
    display: none;
}

.filterButton {
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 1%;
    background-color: $color3;
    color: black;
    border: 2px solid $color1;
    width: min-content;
    height: min-content;
}

.filterButton:hover {
    background-color: $color1;
    color: white;
}

.textarea {
    width: fit-content;
    height: fit-content;
    margin-right: 1%;
}

// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License
$track-color: $color1;
$thumb-color: $color2 !default;
$thumb-radius: 12px !default;
$thumb-height: 24px !default;
$thumb-width: 24px !default;
$thumb-shadow-size: 4px !default;
$thumb-shadow-blur: 4px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 2px !default;
$thumb-border-color:$color3 !default;
$track-width: 20% !default;
$track-height: 8px !default;
$track-shadow-size: 1px !default;
$track-shadow-blur: 1px !default;
$track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 2px !default;
$track-border-color: #cfd8dc !default;
$track-radius: 5px !default;
$contrast: 5% !default;
$ie-bottom-track-color: darken($track-color, $contrast) !default;
@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
    box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
    cursor: default;
    height: $track-height;
    transition: all .2s ease;
    width: $track-width;
}

@mixin thumb {
    @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
    background: $thumb-color;
    border: $thumb-border-width solid $thumb-border-color;
    border-radius: $thumb-radius;
    box-sizing: border-box;
    cursor: default;
    height: $thumb-height;
    width: $thumb-width;
}

[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    width: $track-width;
    &::-moz-focus-outer {
        border: 0;
    }
    &:focus {
        outline: 0;
        &::-webkit-slider-runnable-track {
            background: lighten($track-color, $contrast);
        }
        &::-ms-fill-lower {
            background: $track-color;
        }
        &::-ms-fill-upper {
            background: lighten($track-color, $contrast);
        }
    }
    &::-webkit-slider-runnable-track {
        @include track;
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius;
    }
    &::-webkit-slider-thumb {
        @include thumb;
        -webkit-appearance: none;
        margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);
    }
    &::-moz-range-track {
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        @include track;
        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius;
        height: $track-height / 2;
    }
    &::-moz-range-thumb {
        @include thumb;
    }
    &::-ms-track {
        @include track;
        background: transparent;
        border-color: transparent;
        border-width: ($thumb-height / 2) 0;
        color: transparent;
    }
    &::-ms-fill-lower {
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: $ie-bottom-track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: ($track-radius * 2);
    }
    &::-ms-fill-upper {
        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        background: $track-color;
        border: $track-border-width solid $track-border-color;
        border-radius: ($track-radius * 2);
    }
    &::-ms-thumb {
        @include thumb;
        margin-top: $track-height / 4;
    }
    &:disabled {
        &::-webkit-slider-thumb,
        &::-moz-range-thumb,
        &::-ms-thumb,
        &::-webkit-slider-runnable-track,
        &::-ms-fill-lower,
        &::-ms-fill-upper {
            cursor: not-allowed;
        }
    }
}