@import "./variables";
@import "./zona1";
@import "./header";
@import "./main";
@import "./mainshopdiv";
@import "./print";
@import "./gallery";
@import "./inregistrare";
@import "./login";
// @import "./galerie_animata";
html {
    scroll-behavior: smooth;
    min-height: 100%;
    position: relative;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.2rem;
    color: var(--cl-text);
}

#calendar div:nth-child(n+8).zi {
    border: 1px solid black;
}

#calendar div:nth-child(n+8).eveniment {
    background-color: $color3;
}

body {
    background-color: $color3;
    margin-bottom: 20vh;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.maindiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100vh 30vh 30vh 30vh auto;
    grid-template-areas: "zona1 zona1 zona1" "zona3 zona2 zona4" "zona5 zona2 zona4" "zona5 zona2 zona7" "zona8 zona8 zona8";
}

.mainshopdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100vh 2vh 70vh;
    grid-template-areas: "column1 column1 column1" "colbr colbr colbr" "column2 column3 column3";
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    text-align: center;
}

.footer1 {
    text-align: left;
    margin-left: 1vw;
}

.footer2 {
    text-align: right;
    margin-right: 1vw;
}

.tableindex td,
.tableindex th {
    border: 1px solid black;
}

.video {
    margin-top: 20px;
    width: 30vw;
    height: auto;
}

.video.poster {
    object-fit: cover;
}

.tableindex {
    border: 7px solid black;
    border-style: inset;
    border-collapse: collapse;
    border-radius: 8px;
    caption-side: bottom;
    tr {
        &:hover {
            outline: 7px dotted rgba(178, 199, 147, 0.7);
            animation: 0.5s linear rowanimation;
        }
    }
}

.tablediv {
    margin-top: 20px;
}

.zona2 {
    text-align: center;
    grid-area: zona2;
    padding: 10px;
    background-color: $color1;
    overflow: hidden;
}

.zona3 {
    grid-area: zona3;
    background-color: $color3;
}

.zona4 {
    grid-area: zona4;
    background-color: $color4;
    padding: 10px;
    text-align: center;
}

.zona5 {
    padding: 10px;
    grid-area: zona5;
    background-color: $color5;
}

.zona6 {
    grid-area: zona6;
    background-color: $color1;
    overflow: hidden;
}

.zona7 {
    grid-area: zona7;
    text-align: center;
    ul {
        list-style-type: none;
    }
}

.zona8 {
    h2 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        border: 2px solid $color2;
        border-radius: 10px;
    }
    p {
        text-align: center;
    }
    box-sizing: border-box;
    padding: 50px;
    grid-area: zona8;
    background-color: $color3;
}

footer {
    height: 100px;
    background-image: linear-gradient(180deg, $color3, rgba(121, 32, 76, 0.548));
    bottom: 0;
    position: absolute;
    width: 100%;
}

@media(max-width:500px) {
    .iframe {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
    }
}

@keyframes rowanimation {
    0% {
        outline: 7px dotted rgba(178, 199, 147, 0);
    }
    100% {
        outline: 7px dotted rgba(178, 199, 147, 0.7);
    }
}